export BC_PAR_CLOUDFLARE_API_TOKEN=...
export BC_PAR_RESEND_API_KEY=...
export BC_PAR_RESEND_PASSWORD=...
export BC_PAR_LITESTREAM_ACCESS_KEY_ID=...
export BC_PAR_LITESTREAM_SECRET_ACCESS_KEY=...
export BC_PAR_SUPERUSER_PASSWORD=...
export BC_PAR_GOOGLE_CLIENT_ID=...
export BC_PAR_GOOGLE_CLIENT_SECRET=...
