{:deps {io.github.bigconfig-ai/once {:git/sha "17ca4b2512dadc8b39af23920881b3fc6659d754"
                                     #_#_:local/root "../once/main"}}

 :tasks
 {:requires ([io.github.amiorin.once.package :as package]
             [io.github.amiorin.once.params :as params]
             [io.github.amiorin.once.tools :as tools])
  :init (def opts
          {:big-config.render/profile "ai"
           :big-config.workflow/params
           {:provider-smtp    "resend"
            :resend-server    "smtp.resend.com"
            :resend-port      587
            :resend-username  "resend"

            :deploy-pubkey    "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII1Lbgxiv2OnDKwc8Wx25SQlGyI+iY1drUii/IMZ3YSh deploy@bigconfig.ai"

            :provider-dns     "cloudflare"

            :provider-backend "s3"
            :s3-bucket        "tf-state-251213589273-eu-west-1"
            :s3-region        "eu-west-1"

            :provider-compute            "oci"
            :oci-config-file-profile     "DEFAULT"
            :oci-subnet-id               "ocid1.subnet.oc1.eu-frankfurt-1.aaaaaaaaotya32pihejgi25vrdfnjda3qg52kpsjnd7od5oiqifbsi4rqqma"
            :oci-compartment-id          "ocid1.tenancy.oc1..aaaaaaaal4wmmpzv2fzkdz2vrfdizywgzjid6dqlgcankrrr7jyydo7ozb3a"
            :oci-availability-domain     "xTQn:EU-FRANKFURT-1-AD-1"
            :oci-display-name            "once-ai"
            :oci-shape                   "VM.Standard.A1.Flex"
            :oci-ocpus                   1
            :oci-memory-in-gbs           6
            :oci-boot-volume-size-in-gbs 50
            :oci-boot-volume-vpus-per-gb 30
            :oci-ssh-authorized-keys     "~/.ssh/id_ed25519.pub"

            :domain  "bigconfig.ai"
            :package "ai"
            :once    {:applications [{:host  "www.bigconfig.ai"
                                      :image "ghcr.io/bigconfig-ai/once-bigconfig:latest"}
                                     {:host  "bigconfig.ai"
                                      :image "ghcr.io/bigconfig-ai/once-caddy-redirect:latest"}
                                     {:host "forms.bigconfig.ai"
                                      :image "ghcr.io/bigconfig-ai/once-forms:latest"
                                      :env ["TARGET_EMAIL=forms@bigconfig.ai"]}
                                     {:host "marketplace.bigconfig.ai"
                                      :image "ghcr.io/bigconfig-ai/once-bigconfig-marketplace:latest"
                                      :env ["LITESTREAM_BUCKET=<{ litestream-bucket }>"
                                            "LITESTREAM_PATH=<{ litestream-path }>"
                                            "LITESTREAM_REGION=<{ litestream-region }>"
                                            "LITESTREAM_ACCESS_KEY_ID=<{ litestream-access-key-id }>"
                                            "LITESTREAM_SECRET_ACCESS_KEY=<{ litestream-secret-access-key }>"
                                            "SUPERUSER_EMAIL=<{ superuser-email }>"
                                            "SUPERUSER_PASSWORD=<{ superuser-password }>"
                                            "GOOGLE_CLIENT_ID=<{ google-client-id }>"
                                            "GOOGLE_CLIENT_SECRET=<{ google-client-secret }>"]}]}}})
  help {:doc "the workflow help"
        :override-builtin true
        :task (println "Usage: bb <step|cmd>+ -- [raw-command]

See:
* https://bigconfig.it/paramss/intro/
* https://bigconfig.it/api/workflow/")}
  tidy {:doc "tidy clojure files"
        :task (do (shell "clojure-lsp clean-ns")
                  (shell "clojure-lsp format"))}
  ai {:doc "bb ai create | bb ai delete"
      :task (package/once* *command-line-args* opts)}
  tofu {:doc "bb tofu render tofu:init lock tofu:apply:-auto-approve"
        :task (tools/tofu* *command-line-args* (params/once-opts opts))}
  tofu-dns {:doc "bb tofu-dns render tofu:init lock tofu:apply:-auto-approve"
            :task (tools/tofu-dns* *command-line-args* (params/once-opts opts))}
  tofu-smtp {:doc "bb tofu-smtp render tofu:init lock tofu:apply:-auto-approve"
             :task (tools/tofu-smtp* *command-line-args* (params/once-opts opts))}
  tofu-smtp-post {:doc "bb tofu-smtp-post render tofu:init lock tofu:apply:-auto-approve"
                  :task (tools/tofu-smtp-post* *command-line-args* (params/once-opts opts))}
  ansible {:doc "bb ansible render -- ansible-playbook main.yml"
           :task (tools/ansible* *command-line-args* (params/once-opts opts))}
  ansible-local {:doc "bb ansible render -- ansible-playbook main.yml"
                 :task (tools/ansible-local* *command-line-args* (params/once-opts opts))}}}
